@{
    ViewBag.Title = "About Me";
}
<div class="aboutme-container">
    <div class="aboutme-subcontainer">
        <img src="http://i781.photobucket.com/albums/yy94/evelasco11/17243176_l_zps2ba2db42.jpg" />
        <div class="bodytext">
            <h2 class="aboutme-title">Resume</h2>
            <h3 class="aboutme-subtitle">Education</h3>
            <ul class="bullet">
                <li>2013, M.S., Management Information Systems, California State University, Long Beach</li>
            </ul>
            <h3 class="aboutme-subtitle">Working Experience</h3>
            <ol class="numbered">
                <li>Software Developer Intern, Siemens PLM, 1 year</li>
                <li>Specialist, Apple Inc., 2 years</li>
                <li>Sales, Best Buy, 1 year</li>
                <li>Team Member, Jamba Juice, 2 years</li>
            </ol>
            <div>
                <h3 class="aboutme-subtitle">Expectations for this course</h3>
                <p>
                    I would like to enforce my web development knowledge as previous experience with web development is self taught. Would like to learn more formal, standardized, and conventional development practices to make code more efficient and easier to read.
                </p>
            </div>
        </div>
    </div>
</div>