@model string

@{
    ViewBag.Title = "Home";
}

<div class="body-container">
    <h2>Default Home Page</h2>
    <p>This website is created using the ASP.NET MVC 4 Framework to separate models, views, and controllers in an organized fashion. The home controller is utilized to route URL's to certain views. This project shows different examples of HTML, CSS, Javascript, JQuery, and C#. Most of these demos will utilize a shared layout(navigation bar), which is a benefit of MVC. The layout demo shows the ability of MVC to not use the previously mentioned shared layout with a simple annotation. Please choose a demo from the nagivation bar to get started.</p>
</div>




