@{
    ViewBag.Title = "Layout Demos";
}

<div class="body-container">
    <h2>Layout Demos</h2>
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Absolute", "Absolute")</li>
        <li>@Html.ActionLink("Static", "Static")</li>
        <li>@Html.ActionLink("Float", "Float")</li>
    </ul>
</div>

