@{
    Layout = null;
}
<link href="/Content/css/static.css" rel="stylesheet" />
<div class="body-container">
    <div>
        <h1>Static Layout</h1>
        @Html.ActionLink("Back", "LayoutDemos")
    </div>
    <article>
        &lt;My Article&gt;
         <section class="section-one">&lt;Section One&gt;</section>
        <br />
         <section class="section-two">&lt;Section Two&gt;</section>
    </article>
    <aside>&lt;Aside&gt;</aside>
    <footer>&lt;Footer&gt;</footer>
</div>
